# Intellij
.idea/
*.iml

# Mac
.DS_Store

# Maven
target/

.idea
target
.settings
.classpath
.project
*.DS_Store
c:/
Users/

sampleMaven.iml

taylorwimpey-ui-tests.iml
/src/test/java/com/hs/runners/MyTestRunner.java
/src/main/java/com/hs/accessibility
/src/test/java/com/hs/stepDefinition/AccessibilityTestSteps.java
/src/main/java/com/hs/pageobjects/HomePage.java
/src/test/java/com/hs/runners/LocalTestRunner.java
/src/main/resources/localBrowswerstackExe/
/src/test/resources/extent.properties
/src/main/resources/json/browserstack.conf.json
/src/main/java/com/hs/shared/BrowserStackStartStop.java
/src/main/java/com/hs/shared/Appium/AppiumServerManager.java
/src/main/java/com/hs/shared/Appium/BrowserStackStartStop.java
/src/test/resources/suites/browserstack.xml
/src/main/java/com/hs/shared/BrowserStack/AppiumServerManager.java
/src/main/java/com/hs/shared/BrowserStack/BrowserStackStartStop.java
/reports/
/src/test/resources/suites/localDocker.xml
/src/test/java/com/hs/stepDefinition/SetupStepDefs.java
/JenkinsfileCucumber
/src/test/resources/suites/local_test.xml
/src/test/resources/suites/My_local_test.xml
/accessibility/
/docker-compose.yml
/src/test/java/com/hs/runners/LocalRunner.java
/src/test/resources/suites/LocalTest.xml
/src/test/resources/suites/MYLOCALbrowserstack.xml
/src/main/resources/json/crossbrowser.conf.json
/src/main/java/com/hs/accessibility/
/csvFiles/qa/testData.csv
/src/test/resources/features/Accessibility_demo.feature
/src/main/java/com/hs/pageobjects/ValidateUrlsPageSource_bkp.java
/csvFiles/qa/testData.csv
/src/test/resources/features/MyDummyTEST.feature
/src/test/java/com/hs/stepDefinition/mydummytest.java
/src/main/java/com/hs/shared/TestDataFinal.java
/src/main/java/com/hs/shared/UATTestData.java
/src/main/java/com/hs/shared/QATestData.java
/src/main/java/com/hs/shared/LIVETestData.java
/configuration/
/configuration.properties
/PallyTextResults/
/PageSource/
/package-lock.json
/node_modules/
/todo.md
/logs/
/src/test/java/com/hs/runners/MyTestRunnerB.java
/src/test/java/com/hs/runners/MyTestRunnerA.java
/src/test/resources/suites/My_local_parallel_test.xml
/src/test/java/com/hs/runners/MyTestRunnerC.java
/docker-compose.yml/
/src/test/resources/suites/Parallel_test.xml
